<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue案例:增删图书列表</title>
	<style>
		table{
			width: 1090px;
			margin: 20px auto;
			border-collapse: collapse;
			border: 1px solid #ccc;
		}
		th,td{
			border: 1px solid #ccc;
			text-align: center;
		}
	</style>
</head>
<body>
<div id="demo">
	<table>
		<tr>
			<th>序号</th>
			<th>书名</th>
			<th>作者</th>
			<th>价格</th>
			<th>操作</th>
		</tr>
		<tr v-for="(book,index) in books">
			<td>{{book.id}}</td>
			<td>{{book.name}}</td>
			<td>{{book.author}}</td>
			<td>{{book.price}}</td>
			<td><a href="javascript:;" @click="del(index)">删除</a></td>
		</tr>
	</table>
	<hr>
	<fieldset>
		<legend>添加新书</legend>
		<p>书名：<input type="text" v-model="newBook.name"></p>
		<p>作者：<input type="text"  v-model="newBook.author"></p>
		<p>价格：<input type="text" v-model="newBook.price"></p>
		<p><button @click="add">添加</button></p>
	</fieldset>
</div>
</body>
<script src="vue.js"></script>
<script>
	var app = new Vue({
		el:'#demo',
		data:{
			books:[
				{id:1,name:'倚天屠龙记',author:'金庸',price:'1.5'},
				{id:2,name:'红楼梦',author:'曹雪芹',price:'2.5'},
				{id:3,name:'周易',author:'周文王',price:'5.5'},
				{id:4,name:'黄帝内经',author:'黄帝',price:'7.5'},
			],
			newBook:{id:'',name:'',author:'',price:''}
		},
		methods:{
			del:function(index){
				console.log('当前删除的索引为：',index);
				this.books.splice(index,1);
			},
			add:function(){
				var maxId = 0;
				for(var i in this.books){
					if(maxId < this.books[i].id){
						maxId = this.books[i].id;
					}
				}
				this.newBook.id = parseInt(maxId) + 1;
			    this.books.push(this.newBook);
			}	 
		}
	})
</script>
</html>